.css-icon {
  display: inline-block;
  position: relative;
}

.css-icon.css-icon-add {
  width: 20px;
  height: 20px;
}

.css-icon.css-icon-add::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: black;
  top: 9px;
  left: 0;
}

.css-icon.css-icon-add::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: black;
  top: 0;
  left: 9px;
}