.css-icon {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em; }
  .css-icon::before, .css-icon::after {
    content: '';
    position: absolute; }
  .css-icon.css-icon-add::before, .css-icon.css-icon-add::after {
    background-color: currentColor; }
  .css-icon.css-icon-add::before {
    width: 1em;
    height: 0.1em;
    top: 0.45em;
    left: 0; }
  .css-icon.css-icon-add::after {
    width: 0.1em;
    height: 1em;
    left: 0.45em;
    top: 0; }
