.css-icon {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em; }
  .css-icon::before, .css-icon::after {
    content: '';
    position: absolute; }

.css-icon.css-icon-add::before, .css-icon.css-icon-close::before, .css-icon.css-icon-add::after, .css-icon.css-icon-close::after {
  background-color: currentColor; }

.css-icon.css-icon-add::before, .css-icon.css-icon-close::before {
  width: 1em;
  height: 0.1em;
  top: 0.45em;
  left: 0; }

.css-icon.css-icon-add::after, .css-icon.css-icon-close::after {
  width: 0.1em;
  height: 1em;
  left: 0.45em;
  top: 0; }

.css-icon.css-icon-close {
  transform: rotate(45deg); }

.css-icon.css-icon-down, .css-icon.css-icon-left, .css-icon.css-icon-right, .css-icon.css-icon-up {
  width: 0.1em;
  height: 0.8em;
  background-color: currentColor; }
  .css-icon.css-icon-down::before, .css-icon.css-icon-left::before, .css-icon.css-icon-right::before, .css-icon.css-icon-up::before, .css-icon.css-icon-down::after, .css-icon.css-icon-left::after, .css-icon.css-icon-right::after, .css-icon.css-icon-up::after {
    height: 0.1em;
    width: 0.45em;
    background-color: currentColor; }
  .css-icon.css-icon-down::before, .css-icon.css-icon-left::before, .css-icon.css-icon-right::before, .css-icon.css-icon-up::before {
    bottom: 0;
    left: -0.45em;
    transform: rotate(45deg);
    transform-origin: bottom right; }
  .css-icon.css-icon-down::after, .css-icon.css-icon-left::after, .css-icon.css-icon-right::after, .css-icon.css-icon-up::after {
    transform: rotate(-45deg);
    left: 0.1em;
    bottom: 0;
    transform-origin: bottom left; }

.css-icon.css-icon-heart {
  height: 0.8em;
  width: 0.8em;
  border-left: solid 0.1em currentColor;
  border-bottom: solid 0.1em currentColor;
  transform: rotate(-45deg); }
  .css-icon.css-icon-heart::before, .css-icon.css-icon-heart::after {
    width: 0.8em;
    height: 0.4em;
    border-radius: 0.8em 0.8em 0 0;
    border-top: solid 0.1em currentColor;
    border-left: solid 0.1em currentColor;
    border-right: solid 0.1em currentColor; }
  .css-icon.css-icon-heart::before {
    left: -0.1em;
    top: -0.2em;
    transform: rotate(15deg); }
  .css-icon.css-icon-heart::after {
    left: 0.3em;
    top: 0.2em;
    transform: rotate(75deg); }

.css-icon.css-icon-left {
  transform: rotate(90deg); }

.css-icon.css-icon-right {
  transform: rotate(-90deg); }

.css-icon.css-icon-search::before {
  width: 1em;
  height: 1em;
  border: solid 0.1em currentColor;
  border-radius: 50%;
  top: 0;
  left: 0; }

.css-icon.css-icon-search::after {
  background-color: currentColor;
  width: 0.1em;
  height: 0.25em;
  transform: rotate(-45deg);
  right: 0;
  bottom: 0; }

.css-icon.css-icon-up {
  transform: rotate(180deg); }
